In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pokemon = pd.read_csv('./data/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
pokemon.shape

(800, 12)

In [8]:
pokemon.columns =['id','name', 'type_1', 'type_2', 'hp', 'attack','defense', 'sp_atk', 'sp_def', 'speed', 'gen', 'legendary']
pokemon.head()

,id,name,type_1,type_2,hp,attack,defense,sp_atk,sp_def,speed,gen,legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [9]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
id           800 non-null int64
name         799 non-null object
type_1       800 non-null object
type_2       414 non-null object
hp           800 non-null int64
attack       800 non-null int64
defense      800 non-null int64
sp_atk       800 non-null int64
sp_def       800 non-null int64
speed        800 non-null int64
gen          800 non-null int64
legendary    800 non-null bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.6+ KB

In [29]:
pokemon['gen'].value_counts()

1    166
5    165
3    160
4    121
2    106
6     82
Name: gen, dtype: int64

In [43]:
pokemon.type_1.plot(kind='bar')

TypeError: Empty 'DataFrame': no numeric data to plot